::-webkit-scrollbar {
    width: 8px; 
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff; 
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: #000000; 
}

::-moz-scrollbar {
    width: 12px; 
}

::-moz-scrollbar-thumb {
    background-color: #ffffff; 
    border-radius: 6px; 
}

::-moz-scrollbar-track {
    background-color: #000000; 
}

.margin{
    margin-top: 110px;
    margin-left: 50px;
}

